html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: Avant Garde, Avantgarde, Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

ul {
    list-style: none;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1195px;
    width: 90%;
    margin: 0 auto;
}

.nav__item,
.main,
.about {
    text-transform: uppercase;
}

.nav__item,
.about__main-skill-item {
    text-align: center;
}

.nav__item-link,
.main__content-btn-link {
    text-decoration: none;
    color: white;
}


/* HEADER */

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #15263e;
}

.nav__list {
    display: flex;
}

.nav__item::before {
    content: "•";
    margin: 0 42px;
}

.nav__item:first-child::before {
    content: '';
    margin: 0;
}


/* MAIN */

.main {
    height: 100vh;
    background: url(../img/bg/Background.png) center/cover no-repeat;
    color: white;
    position: relative;
}

.main__content-name {
    background-image: linear-gradient(49deg, #a21af0, #ff0072);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    color: #0B2349;
    font-size: 170px;
    text-shadow: 1px 1px 2px transparent, 0 0 1em red;
    /* Параметры тени */
}

.main__content-btn {
    box-shadow: 1px 1px 2px transparent, 0 0 3em #ff0097cf;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(49deg, #a21af0, #ff0072);
}

.main__content-btn-link {
    padding: 30px 50px;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main__content-title {
    text-shadow: 1px 1px 2px transparent, 0 0 1em #e38f8f;
    font-size: 47px;
}

.main__content-desc {
    text-shadow: 1px 1px 2px transparent, 0 0 1em red;
    font-size: 25px;
    margin-bottom: 31px;
}


/* ABOUT */

.about__main {
    display: flex;
    align-items: center;
    text-align: end;
    height: 100vh;
}

.about__main-title {
    color: #15263e;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.about__main-title-desc {
    font-size: 1.3em;
    color: #a21af0;
    margin-bottom: 35px;
}

.colortext {
    color: #ff0097;
}

.about__main-photo-pic {
    width: 100%;
}

.about__main-desc {
    text-transform: none;
    font-size: larger;
}

.about__main-skill-box {
    background-image: linear-gradient(49deg, #a21af0, #ff0072);
    width: 25em;
    height: 1.5em;
    border-radius: 25px;
}

.about__main-skill-item {
    margin: 12px;
}

.about__main_content {
    margin: 130px 0 140px 0;
    width: 100%;
}

.about__contact-content {
    padding: 100px;
    background-color: #dcdcde;
}

.about__container {
    display: flex;
    justify-content: space-between;
}

.about__contact-block {
    display: flex;
    margin-right: 123px;
    align-items: center;
}

.about__contact-block:last-child {
    margin-right: 0;
}

.about__contact-img {
    margin-right: 37px;
}

.about__contact-block-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}